@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --radius: 0.375rem;
}

:root {
    --radius: 0.375rem;
    --background: oklch(0.9940 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(0.9940 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(0.9911 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.5393 0.2713 286.7462);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9540 0.0063 255.4755);
    --secondary-foreground: oklch(0.1344 0 0);
    --muted: oklch(0.9702 0 0);
    --muted-foreground: oklch(0.4386 0 0);
    --accent: oklch(0.9393 0.0288 266.3680);
    --accent-foreground: oklch(0.5445 0.1903 259.4848);
    --destructive: oklch(0.6290 0.1902 23.0704);
    --border: oklch(0.9300 0.0094 286.2156);
    --input: oklch(0.9401 0 0);
    --ring: oklch(0 0 0);
    --chart-1: oklch(0.7459 0.1483 156.4499);
    --chart-2: oklch(0.5393 0.2713 286.7462);
    --chart-3: oklch(0.7336 0.1758 50.5517);
    --chart-4: oklch(0.5828 0.1809 259.7276);
    --chart-5: oklch(0.5590 0 0);
    --sidebar: oklch(0.9777 0.0051 247.8763);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0 0 0);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9401 0 0);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0.9401 0 0);
    --sidebar-ring: oklch(0 0 0);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dark {
    --background: oklch(0.2223 0.0060 271.1393);
    --foreground: oklch(0.9551 0 0);
    --card: oklch(0.2568 0.0076 274.6528);
    --card-foreground: oklch(0.9551 0 0);
    --popover: oklch(0.2568 0.0076 274.6528);
    --popover-foreground: oklch(0.9551 0 0);
    --primary: oklch(0.6132 0.2294 291.7437);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.2940 0.0130 272.9312);
    --secondary-foreground: oklch(0.9551 0 0);
    --muted: oklch(0.2940 0.0130 272.9312);
    --muted-foreground: oklch(0.7058 0 0);
    --accent: oklch(0.2795 0.0368 260.0310);
    --accent-foreground: oklch(0.7857 0.1153 246.6596);
    --destructive: oklch(0.7106 0.1661 22.2162);
    --border: oklch(0.3289 0.0092 268.3843);
    --input: oklch(0.3289 0.0092 268.3843);
    --ring: oklch(0.6132 0.2294 291.7437);
    --chart-1: oklch(0.8003 0.1821 151.7110);
    --chart-2: oklch(0.6132 0.2294 291.7437);
    --chart-3: oklch(0.8077 0.1035 19.5706);
    --chart-4: oklch(0.6691 0.1569 260.1063);
    --chart-5: oklch(0.7058 0 0);
    --sidebar: oklch(0.2011 0.0039 286.0396);
    --sidebar-foreground: oklch(0.9551 0 0);
    --sidebar-primary: oklch(0.6132 0.2294 291.7437);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.2940 0.0130 272.9312);
    --sidebar-accent-foreground: oklch(0.6132 0.2294 291.7437);
    --sidebar-border: oklch(0.3289 0.0092 268.3843);
    --sidebar-ring: oklch(0.6132 0.2294 291.7437);
    --radius: 0.375rem;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}